<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Flight Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map { height: 600px; }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="static/js/leaflet.rotatedMarker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/flights');
        var map = L.map('map').setView([0, 0], 2); // Center map around the world
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        let flightIcon = L.icon({
            iconUrl: 'static/images/flight.png',
            iconSize: [32, 32], // size of the icon
            iconAnchor: [16, 16], // point of the icon which will correspond to marker's location
            popupAnchor: [0, 0] // point from which the popup should open relative to the iconAnchor
        });
        markers = {}

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('update', function(data) {
            json_list = eval(data);

            for (let flight_id in markers){
                markers[flight_id].remove();
            } 
            json_list.forEach(flight => {
                let heading = Math.atan2(flight.end[1] - flight.start[1], flight.end[0] - flight.start[0]);
                let rotation = ((heading * 180 / Math.PI)+180)%180;

                markers[flight.flight_id] = L.marker(flight.curr, { icon: flightIcon, rotationAngle: rotation }).addTo(map);
                markers[flight.flight_id].bindTooltip('<b>Flight ID</b><br>' + flight.flight_id + ' ' + rotation);
            });
        });

        socket.on('connect_error', function(error) {
            console.error('Connection error:', error);
        });
    </script>
</body>
</html>
